/* Fonts */
@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: local("Roboto"),
		url("@/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
/* Themes */
:root {
	--gray0: #f8f8f8;
	--gray1: #dbe1e8;
	--gray2: #6c7983;
	--gray3: #2a2e35;
	--gray4: #12181b;
	--blue: #0084a5;
	--purple: #a82dd1;
	--light-bg: #fff;
	--dark-bg: #2a2e35;
}

.light {
	--bg: var(--gray0);
	--bg-nav: linear-gradient(to right, var(--gray1), var(--gray2));
	--text: var(--gray4);
	--border-color: var(--blue);
	--theme-color: var(--light-bg);
}

.dark {
	--bg: var(--gray3);
	--bg-nav: linear-gradient(to right, var(--gray3), var(--gray4));
	--text: var(--gray0);
	--border-color: var(--purple);
	--theme-color: var(--dark-bg);
}
/* Color */
*,
*::before,
*::after {
	border-color: var(--border-color);
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--text);
	background: var(--bg);
}
section {
	background: var(--bg-nav);
}
nav {
	background: var(--bg-nav);
	color: var(--text);
}
.color-preview::before {
	background: var(--theme-color);
}
